

<div class="dropdown open">
    <button class="btn btn-sm btn-outline-light dropdown-toggle border-0" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                {{request.user}}
            </button>
    <div class="dropdown-menu" aria-labelledby="triggerId">
        <a class="dropdown-item" href="#">Update Picture</a>
        <a class="dropdown-item" href="#">Settings</a>
        <a class="dropdown-item" href="#">Delete Account</a>
    </div>
</div>